            /*Genel Tasarımlar*/
            /*************************/
            /*************************/
            
            * {
                box-sizing: border-box;
            }
            body{
                margin:auto;
                width:1000px;
                height: auto;
            }
            header{
                width:1000px;
                height:200px;
            }
            
            /*Navigasyon (Menü) Tasarımı*/
            /*************************/
            /*************************/
            
            nav{
                border-style:solid;
                background-color: rgb(255, 222, 89);
                width:1000px;
                height: 100px;
            }
            nav ul{
                list-style-type: none;
            }
            nav ul li{
                border-style:solid;
                width: 118px;
                border-width: 4px;
                border-radius: 15px;
                border-color:black;
                background-color: rgb(236, 228, 228);
                float:left;
                padding: 10px;
                margin-left:30px;
                top:7px;
                position:relative;
                text-align: center;

            }
            nav ul a{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                text-decoration: none;
            }
            nav ul a:link{
                color:black;
            }
            nav ul a:visited{
                color:darkblue;
            }
            nav ul a:hover{
                color:red;
            }

            /*İçerik Kısmının Tasarımı*/
            /*************************/
            /*************************/

            article{
                border-style:solid;
                background-color: rgb(236, 228, 228);
                width:1000px;
                height:auto;
            }
            article section {
                max-width: 800px; 
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px; 
                margin-bottom: 50px;
                padding-left: 15px;
                padding-right: 15px; 
            }
            article section h1{
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            article section h2{
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            article section p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
                text-align: center;
            }
            article section ul li{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
            }
            article section table #green{
                color:green
            }
            article section table #darkviolet{
                color:darkviolet
            }
            article section table #yellow{
                color:darkgoldenrod
            }
            article section table #darkblue{
                color:darkblue
            }
            article section table h2{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
                text-align: center;
            }
            article section table p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
                text-align: center;
            }
            article section table a{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
            }
            
            /*İletişim Kısmı Tasarımı*/
            /*************************/
            /*************************/
            
            footer{
                border-style:solid;
                background-color: rgb(255, 222, 89);
                width:1000px;
                height:auto;
            }
            footer section{
                max-width: 800px; 
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px; 
                margin-bottom: 50px;
                padding-left: 15px;
                padding-right: 15px;
            }
            footer section h1{
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            footer section a{
                float:right;
            }
            footer section div{
                height:auto;
            }
            footer section div a h2{
                font-size: larg;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            footer #sayfa-ustune-cık{
                display:block;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:25px;
                border-style:solid;
                border-width:4px;
                border-radius: 15px;
                border-color: black;
                background-color:rgb(236, 228, 228);
                width: 250px;
                text-align:center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                text-decoration: none;
            }
            footer #sayfa-ustune-cık:link{
                color:black;
            }
            footer #sayfa-ustune-cık:visited{
                color:darkblue;
            }
            footer #sayfa-ustune-cık:hover{
                color:red;
            }