            /*********************

                Author: Kerem Can Belli
                File: style.css
                Project: Static Personal Portfolio Website
                Last Updated: November 2025

            **********************/
            
            /*********************

            * GENERAL DESIGN
            * Base layout setup and global box-sizing settings.
            
            **********************/
            
            * {
                box-sizing: border-box;
            }
            body{
                margin:auto;
                width:1000px;
                height: auto;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            /*********************
            
            * HEADER DESIGN
            
            **********************/

            header{
                width:1000px;
                height:200px;
            }
            
            /*********************

            * NAVIGATOR DESIGN
            * Horizontal navigation bar with hover and visited effects.
            
            **********************/
            
            nav{
                border-style:solid;
                background-color: rgb(255, 222, 89);
                width:1000px;
                height: 100px;
            }
            nav ul{
                list-style-type: none;
            }
            nav ul li{
                border-style:solid;
                width: 120px;
                border-width: 4px;
                border-radius: 15px;
                border-color:black;
                background-color: rgb(236, 228, 228);
                float:left;
                padding: 10px;
                margin-left:27.5px;
                top:7px;
                position:relative;
                text-align: center;

            }
            nav ul a{
                font-weight: bold;
                text-decoration: none;
            }
            nav ul a:link{
                color:black;
            }
            nav ul a:visited{
                color:darkblue;
            }
            nav ul a:hover{
                color:darkgray;
            }

            /*********************
            
            * ARTICLE DESIGN
            
            * Controls main content sections (About, Education, etc.)
            * Uses consistent padding/margins for balanced readability.
            
            **********************/

            article{
                border-style:solid;
                background-color: rgb(236, 228, 228);
                width:1000px;
                height:auto;
            }

            article section {
                max-width: 800px; 
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px; 
                margin-bottom: 50px;
                padding-left: 15px;
                padding-right: 15px; 
            }

            article section h1{
                text-align: center;
            }

            article section h2{
                text-align: center;
            }

            article section p{
                font-size: large;
                text-align: center;
            }

            article section ul li{
                font-size: large;
            }

            article section table ol li{
                font-size: large;
            }

            article section table .green{
                color:green
            }

            article section table h2{
                font-size: large;
                text-align: center;
            }

            article section table p{
                font-size: large;
                text-align: center;
            }

            article section table a{
                font-size: large;
            }
            
            /*********************
            
            * FOOTER DESIGN
            * Contact area + back-to-up link
            
            **********************/
            
            footer{
                border-style:solid;
                background-color: rgb(255, 222, 89);
                width:1000px;
                height:auto;
            }

            footer p{
                font-size: large;
                text-align: center;
                margin-bottom: 50px;
            }

            footer section{
                max-width: 800px; 
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px; 
                margin-bottom: 50px;
                padding-left: 15px;
                padding-right: 15px;
            }

            footer section h1{
                text-align: center;
            }

            footer section a{
                float:right;
                text-decoration: none;
            }

            footer section div{
                height:auto;
            }

            footer #go-to-the-top-of-the-page{
                display:block;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:25px;
                border-style:solid;
                border-width:4px;
                border-radius: 15px;
                border-color: black;
                background-color:rgb(236, 228, 228);
                width: 250px;
                text-align:center;
                font-weight: bold;
                text-decoration: none;
            }

            footer #go-to-the-top-of-the-page:link{
                color:black;
            }

            footer #sayfa-ustune-cık:visited{
                color:darkblue;
            }

            footer #sayfa-ustune-cık:hover{
                color:darkgray;
            }