            * {
                box-sizing: border-box;
            }
            body{
                border-style:solid;
                margin:auto;
                width:1000px;
                height: 1000px;
            }
            header{
                width:1000px;
                height:200px;
            }
            nav{
                border-style:solid;
                width:1000px;
                height:100px;
            }
            article{
                border-style:solid;
                width:1000px;
                height:500px;
            }
            footer{
                border-style:solid;
                width:1000px;
                height:200px;
            }