            * {
                box-sizing: border-box;
            }
            body{
                border-style: solid;
                margin:auto;
                width:1000px;
                height: 1000px;
            }
            header{
                width:1000px;
                height:200px;
            }
            nav{
                border-style:solid;
                background-color: rgb(255, 222, 89);
                width:1000px;
                height:100px;
            }
            article{
                border-style:solid;
                width:1000px;
                height:500px;
            }
            footer{
                border-style:solid;
                width:1000px;
                height:200px;
            }
            nav ul{
                list-style-type: none;
            }
            nav ul li{
                border-style:solid;
                width: 150px;
                border-width: 4px;
                border-radius: 15px;
                border-color:black;
                background-color: rgb(236, 228, 228);
                float:left;
                padding: 10px;
                margin-left:30px;
                top:7px;
                position:relative;
                text-align: center;

            }
            nav ul a{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                text-decoration: none;
            }
            nav ul a:link{
                color:black;
            }
            nav ul a:visited{
                color:darkblue;
            }
            nav ul a:hover{
                color:red;
            }
            article section h1{
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            article section p{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: large;
                text-align: center;
            }
